.clock-frame {
  background-image: url('../img/clock-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5vw 0;
}
.clock-block {
  text-align: center;
}
span.day {
  background-color: #FFF;
  padding: 20px;
  font-size: 5vw;
  border-radius: 5px;
}
span.date {
  font-size: 1.2vw;
  color: #000;
  font-weight: bold;
}
