<div class="row">
  <div class="col s8">
    <nav>
   <div class="nav-wrapper">
     <form>
       <div class="input-field">
         <input id="search" type="search" placeholder="Brand, Model or Plate Number" required>
         <label for="search"><i class="material-icons">search</i></label>
         <i class="material-icons">close</i>
       </div>
     </form>
   </div>
 </nav>
 <div class="separator">
   <i class="material-icons left">motorcycle</i>Suzuki
 </div>
 <div class="collection">
   <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
   <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
   <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
   <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
   <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
 </div>
 <div class="separator">
   <i class="material-icons left">motorcycle</i>Honda
 </div>
 <div class="collection">
    <a href="#!" class="collection-item">Honda ABC [3กง 772]</a>
    <a href="#!" class="collection-item">Honda ABC [3กง 772]</a>
    <a href="#!" class="collection-item">Honda ABC [3กง 772]</a>
    <a href="#!" class="collection-item">Honda ABC [3กง 772]</a>
    <a href="#!" class="collection-item">Honda ABC [3กง 772]</a>
    <a href="#!" class="collection-item">Honda ABC [3กง 772]</a>
 </div>
  </div>
  <div class="col s4">
    <div class="block-image" style="background-image: url('img/repair-w.jpg');">
      <i class="material-icons">add_box</i>Add New Motorcycle
    </div>
    <div class="card z-depth-0">
        <div class="collection">
          <div class="block-image" style="background-image: url('img/repair-n.jpg');">
            Need to repair
          </div>
          <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
          <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
          <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
          <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
          <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
        </div>
    </div>
    <div class="card z-depth-0">
        <div class="collection">
          <div class="block-image" style="background-image: url('img/repair-w.jpg');">
            Wating for repair
          </div>
          <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
          <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
          <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
          <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
          <a href="#!" class="collection-item">Suzuki ABC [1กค 472]</a>
        </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="css/motorcycle.css" charset="utf-8">
<link rel="stylesheet" href="css/rental.css" charset="utf-8">
