<div class="row">
  <div class="col s9">
    <div>
      <div class="separator">
        <i class="material-icons left">beenhere</i>Return Today
      </div>
      <div class="collection" ng-hide="rentalsListToday.length === 0">
        <a ng-href="#/rent/{{ rental.id }}" class="collection-item" ng-repeat="rental in rentalsListToday">
          {{ rental.brand_name }} {{ rental.model }} [{{ rental.plate_number }}]
          &nbsp;&nbsp;<small>({{ rental.firstname + ' ' + rental.lastname }})</small>
          <span ng-bind-html="rental.date_return_expect | DateReturn"></span>
        </a>
      </div>
    </div>
    <div>
      <div class="separator">
        <i class="material-icons left">sms_failed</i>Return Date Expire
      </div>
      <div class="collection" ng-hide="rentalsListExpire.length === 0">
        <a ng-href="#/rent/{{ rental.id }}" class="collection-item" ng-repeat="rental in rentalsListExpire">
          {{ rental.brand_name }} {{ rental.model }} [{{ rental.plate_number }}]
          &nbsp;&nbsp;<small>({{ rental.firstname + ' ' + rental.lastname }})</small>
          <span ng-bind-html="rental.date_return_expect | DateReturn"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="col s3" ng-include="src = 'templates/rental-right.html'"></div>
</div>
<link rel="stylesheet" href="css/rental.css" charset="utf-8">
